<!-- <div class="bg">
    <img style="height:910px; width:1920px;" src="../../assets/img/plainbg.jpg">
</div>

<div class="nav-bar">
    <h1>ADMIN</h1>

    <a routerLink="/getFoodies" routerLinkActive="active" style="margin-left:1042px;">
        <span>USER DATA</span>
    </a>

    <a routerLink="/getHotel" routerLinkActive="active" style="margin-left:1333px">
        <span style="color: #DB3C2E;">RESTAURANTS</span>
    </a>

    <a style="margin-left:1688px;" (click) = "logoutUser()">
        <span>LOGOUT</span>
    </a>
</div>


<div class="table-box">

    <div class="table-row table-head">
        <div class="table-cell first-cell" style="width:10%;">
            <p>Hotel ID</p>
        </div>

        <div class="table-cell" style="width:15%;">
            <p>Category</p>
        </div>

        <div class="table-cell" style="width:25%;">
            <p>Restaurant</p>
        </div>

        <div class="table-cell" style="width:20%;">
            <p>Area</p>
        </div>

        <div class="table-cell last-cell" style="width:15%;">
            <p>Delete</p>
        </div>
    </div>

    <div style="overflow-y: scroll;height: 62vh;">

        <div class="table-row" >
            <div class="table-cell first-cell" style="width:10%;">
                <p>{{hotel.id}}</p>
            </div>

            <div class="table-cell" style="width:15%;">
                <p>{{hotel.category}}</p>
            </div>

            <div class="table-cell" style="width:25%;">
                <p>{{hotel.hotelName}}</p>
            </div>

            <div class="table-cell" style="width:20%;">
                <p>{{hotel.area}}</p>
            </div>

            <div class="table-cell last-cell" style="width:15%;">
                <form #name="ngForm" >
                    <input type="submit" value="REMOVE">
                </form>
            </div>
        </div>

    </div>

    <div class="addHotel" >
        <a routerLink="/addHotel" routerLinkActive="active" style="margin-left:1042px; text-decoration:none;">
            <span>ADD A HOTEL</span>
        </a>
    </div>

</div> -->