<app-navbar></app-navbar>

<div class=>
    <h1 style="font-family:serif ;"> CART </h1>
</div>
<div *ngFor="let i of cart;let j=index">
<div class="food-items">
    
    <div class="details" style="font-family:serif ;">
        <div class="details-sub">
            <h5>{{i.dishName}}&mdash;{{i.dishPrice}}</h5>
            
        </div>
        <p></p>
        <form #name="ngForm" (ngSubmit)="removeDish(j)">
            <button class="btn bg-danger btn-sm px-3" style="color: black;" type="submit" value="REMOVE" >Remove</button>
        </form>
        </div>
      </div>
</div>
<div class="buttons">
    <label class="txt">TOTAL PRICE &emsp;&mdash;&#8377;{{totalPrice}}</label><br><br>
         <div *ngIf="cart.length==0; then thenBlock else elseBlock"></div>   
         <ng-template #thenBlock> <a  >
           <button type="button" class="btn bg-danger  btn-sm px-3" disabled>NO ITEMS IN CART</button></a> </ng-template>
           <ng-template #elseBlock><a  routerLink="/cart" routerLinkActive="active" (click)="order()">
            <button class="btn bg-danger  btn-sm px-3"  >CONFIRM ORDER</button></a> 
        </ng-template>
        
    
</div>