
.food-items{
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    margin: 0 20px;
}
/* .food-items img{
    position: relative;
    width: 100%;
    border-radius: 15px 15px 0 0;
} */

.details{
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 40px;
    grid-row-gap: 15px;
}
/* .details-sub{
    display: grid;
    grid-template-columns: auto auto;
} */
.details-sub h5{
    font-weight: 600;
    font-size: 1.25rem;
}

/* .details p{
    color: #6f6f6f;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    align-self: stretch;
} */
/* form input[type="submit"]{
    background-color: #F13F3F;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    width: 180px;
    height: 50px;
    cursor: pointer;
} */
.buttons{
     margin-left: 40%;
}
/* button{
    background-color: #F13F3F;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    width: 180px;
    height: 50px;
    cursor: pointer;
} */
