<app-navbar></app-navbar>

<h1 style="text-align: center; 
font-family:  serif;">
   <strong style="color: black">Thankyou For Confirming Your Order!</strong>
</h1>
<div class="bg"> 
   <img src="..\assets\confirmation.png" alt="delivery arrived" style="height: 100vh;width:60vw;position: relative;">
   <h1 style="font-family:  serif; ;float:right;padding-right: 15%;padding-top: 10%;">
       <h1 style="float: center;position:absolute;text-align: center;">         
           <strong
             style="color: rgb(48, 42, 42); padding-top:7vw;text-align:center;vertical-align: middle; font-size: 10vw;  font-family:Play">
           </strong>
         </h1>
   </h1>