<style>
  @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,600&family=Playfair+Display:ital,wght@1,400;1,900&display=swap');
  </style>
<app-navbar></app-navbar>
<div class="bg"> 
  <img src="assets\home_page\serve_dinner.png" alt="delivery arrived" style="height: 90vh;width:45vw;position: relative;">
  <h1 style="font-family:Playfair Display ;float:right;padding-right: 15%;padding-top: 10%;">
      <strong style="font-size:3vw;">Lazy to cook?</strong><br>
      <strong style="font-size: 3vw;">Order Now On</strong>
      <h1 style="float: center;position:absolute;text-align: center;">
          <img src="https://img.icons8.com/ios-filled/100/000000/explicit.png" style="height: 19vh;width:10vw;"/>
          <strong
            style="color: rgb(48, 42, 42); padding-top:7vw;text-align:center;vertical-align: middle; font-size: 10vw;  font-family:Play">dible
          </strong>
        </h1>
  </h1>



<!-- ------------------------------------------CATEGORY-------------------------------------------------------------------------- -->



<style>
  @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,600&family=Playfair+Display:ital,wght@1,400;1,900&display=swap');
  </style>
<h1 style="font-family: play;padding-left: 2%;"><strong>Category</strong></h1>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>


<div class="container">
<div class="card-columns">
  <div class="card  bg-light " >
    <div class="card-body text-center " >
      <img src="assets\home_page\img1.png"  alt="american" style="height:35vh;width:20vw; ">
      <p class="card-text"></p>
      <form #name="ngForm" (ngSubmit)="category('american')">
          <input class="btn bg-danger stretched-link " type="submit" value="SELECT" />
    </form>
    </div>
  </div>
  <div class="card bg-light " style="margin-top:2vh">
    <div class="card-body text-center ">
      <img src="assets\home_page\img2.jpg"   alt="indian" style="height:35vh;width:20vw">
      <p class="card-text"></p>
      <form #name="ngForm" (ngSubmit)="category('indian')">
        <input class="btn bg-danger stretched-link" type="submit" value="SELECT" >
    </form>
    </div>
  </div>

  <div class="card bg-light" style="margin-top:2vh">
    <div class="card-body text-center">
      <img src="assets\home_page\img4.png" alt="chinese" style="height:35vh;width:20vw">
      <p class="card-text"></p>
      <form #name="ngForm" (ngSubmit)="category('chinese')">
        <input class="btn bg-danger stretched-link" type="submit" value="SELECT" >
    </form>
    </div>
  </div>  
  <div class="card bg-light" style="margin-top:2vh">
    <div class="card-body text-center">
      <img src="assets\home_page\img5.png"  alt="italian" style="height:35vh;width:20vw">
      <p class="card-text"></p>
      <form #name="ngForm" (ngSubmit)="category('italian')">
        <input class="btn bg-danger stretched-link" type="submit" value="SELECT" >
    </form>
    </div>
  </div>
</div>
</div>

