<app-navbar></app-navbar>
<style>
   @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,600&family=Playfair+Display:ital,wght@1,400;1,900&display=swap');
</style>

<div class="main-container">
<h1 style="text-align: center; 
font-family: 'Playfair Display', serif;">
   <strong style="color: black">Super fast delivery!</strong>
</h1>
<h6 style="text-align: center;">
   <strong>Order Now to get great offers</strong>
</h6>
<img src="assets\delivery_arrived.png" alt="delivery arrived" style=" height:70vh; width:40vw;position: absolute; padding:top 20%;float: left;">
<section class="register-block bg-color ">
  <div class="container" >
     <div class="row ">
        <div class="col register-sec">
         <h2 class="text-center text-danger">Register Now</h2>
         <form #regData="ngForm" (ngSubmit)="register(regData.value)" 
         >
             <label>Username</label>
             <input type="text" ngModel required name="username" #username="ngModel" placeholder="" />             <br>
             <label>Email </label>
             <input  type="email" name="email"  #email="ngModel" id="email"  value="" ngModel/>
             <br>
             <label>Password </label>
             <input type="password" name="password"  #password="ngModel" id="password"  value="" ngModel/>
             <br>
             <label>Confirm Password </label>
             <input type="password" name="confirm-password" #confirmpassword="ngModel"  id="confirm-password"  value="" ngModel/>
             <br>
             <br>
             <label for="submit"></label>
             <button class="btn btn-address bg-danger float-right" type="submit"   value="Register" >Register</button>

             <div class="form-group">
               Already have account ? Please <a href="javascript:void(0);" routerLink="/login">Login</a>
            </div>
         </form>
 
        </div>
     </div>
  </div>
</section>
</div>